export BUCKET=YOURBUCKETNAMEHERE
export WORKDIR=/YOUR/HOMEDIR/MUST/GO/HERE

export ADMINEMAIL="YOURADDRESS@YOURDOMAIN.COM"
export TARGETS="ADDRESS_ONE@YOURDOMAIN.COM ADDRESS_TWO@YOURDOMAIN.COM ADDRESS_THREE@YOURDOMAIN.COM"
export FROMADDR="SENDERADDRESS@YOURDOMAIN.COM"
export MAIL_SERVER="YOURMAILSERVER.YOURDOMAIN.COM"
export COMPANYNAME="YOURCOMPANYNAME"

## honestly, you shouldn't need to change these two below

export TARGETFILE=$WORKDIR/billing.csv
export CSV_TARGET=$WORKDIR/curr_estimated.csv
export BINPATH=$WORKDIR/bin
export REPORTFILE=$WORKDIR/last_report_mailing.log
